@font-face {
    font-family: "Maza";
    src: url("../fonts/MAZ55.otf");
}

@font-face {
    font-family: "TenorSans Regular";
    src: url("../fonts/TenorSans-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--primary-color);
    font-size: var(--font-size-default);
    font-family: "Maza", monospace;
    font-weight: normal;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

main {
    width: 100%;
    min-height: 100%;
    background: linear-gradient(95.31deg, #672870 20%, #4FE0FF 100%);
}

a {
    color: inherit;
    text-decoration: none;
    transition: opacity .2s ease-in;
}

a:hover {
    opacity: .6;
}

a:active {
    opacity: .4;
}