header {
    position: relative;
    width: 100%;

    .hat-wrapper {
        background-color: var(--secondary-background-color);
    }

    .hat {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-block: var(--spacing-50);
        gap: var(--spacing);
        font-size: var(--font-size-s);

        .work-time {
            justify-self: center;
        }

        .links {
            justify-self: end;

            a {
                transition: color .2s ease;
            }

            a:hover {
                color: var(--primary-background-color);
            }
        }
    }

    .content {
        display: inline-flex;
        gap: var(--spacing-200);
        padding-block: var(--spacing);

        .logo-wrapper {
            color: var(--primary-background-color);
        }

        .interactive {
            position: relative;
            display: grid;
            grid-template-rows: var(--card-height) var(--card-height-s);
            gap: var(--spacing);

            .start,
            .end {
                display: inline-flex;
                gap: var(--spacing);
                justify-content: space-between;
            }
        }

        .lang {
            .lang-button {
                opacity: .5;
                transition: opacity 0.2s ease;
            }

            .lang-button.active {
                opacity: 1;
                pointer-events: none;
            }

        }

        .burger .button {
            padding-inline: var(--spacing-187);
        }

        .search-bar-wrapper {
            flex: 1;
            display: inline-flex;
            padding: calc(var(--spacing-25) - 1px);
            gap: var(--spacing-25);
            border: 1px solid var(--primary-border-color);

            input {
                flex: 1;
                border: none;
                padding-inline: var(--spacing-25);
            }
        }

        .messengers {
            margin-left: var(--spacing-62);
        }

        .additions {
            margin-left: auto;
        }
    }
}

custom-button {
    display: block;
}

custom-button .button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    padding: var(--spacing-75);
    gap: var(--spacing-62);
    border-radius: var(--spacing-25);
    background-color: var(--secondary-background-color);
    transition: .2s ease;
    transition-property: color;

    svg {
        transition: inherit;
        color: color-mix(in srgb, var(--primary-background-color) 100%, transparent 100%);
    }
}

custom-button:hover .button {
    color: var(--primary-background-color);

    svg {
        color: var(--primary-background-color);
    }
}

custom-button[variant="primary"] .button {
    background-color: var(--primary-background-color);
    color: var(--primary-onBackground-color);
    transition-property: background-color, color;

    svg {
        color: inherit;
    }
}

custom-button[variant="primary"]:hover .button {
    background-color: var(--secondary-background-color);
    color: var(--primary-background-color);
}

custom-button[variant="outline"] .button {
    background-color: transparent;
    border: 1px solid var(--secondary-border-color);
    transition-property: border-color, color;

    svg {
        color: var(--primary-color);
    }
}

custom-button[variant="outline"]:hover .button {
    border-color: var(--secondary-hoverBorder-color);

    svg {
        color: var(--primary-background-color);
    }
}

custom-button[variant="link"] .button {
    color: var(--primary-background-color);
    transition-property: background-color, color;

    svg {
        color: inherit;
    }
}

custom-button[variant="link"]:hover .button {
    background-color: var(--primary-background-color);
    color: var(--primary-onBackground-color);

    svg {
        color: inherit;
    }
}

custom-button[variant="icon"] .button {
    transition-property: background-color, color;

    svg {
        color: var(--primary-color);
    }
}

custom-button[variant="icon"]:hover .button {
    background-color: var(--secondary-hoverBackground-color);

    svg {
        color: var(--primary-background-color);
    }
}